@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';
body{


  width: 100%;
  height: 100%
}
.hidelabel{
  display: none;
}

div{
  position: relative;
}
#searcharea{
  margin-top: 5%;
margin-bottom: 10%;
width: 100%;

}
h1{

font-family: "lato",sans-serif;
font-weight: 700;
}

#button{
  margin-top: 2%;
  background-color: #fff;
  border:2px solid rgba(0, 0, 0, 0.5);;
border-radius: 3px;
float: left;


}


span{
  background-color: green;
  height: 25px;
  width: 25px;
opacity: .6;
  display: inline-block;
}
#error{
  background-color: transparent;;
  color: red;

}
li{
position: relative;
  display: block;
  background-color: #333;
  color: white;
  margin: 10px 0;
  padding: 10px;
  width: 100%;

font-family: "lato",sans-serif;
font-weight: 300;
}
section{

padding: 0px;
  overflow-y: scroll;
  height: 500px;
word-wrap: break-word;
margin: 0;


}

@media screen and (min-width:300px) and (max-width:800px) {

  #search{

  height: 5em;
  font-size: 1.3em;

  }

  li{
width: 100%;
  height:5em;
  }
  section{
    height: 40em;
  }
}
#notecontainer{width: 100%;}::-webkit-scrollbar {
    display: none;
}
