@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';
@import 'https://fonts.googleapis.com/css?family=Amiko';
body{


  width: 100%;
  height: 100%
}
.hidelabel{
  display: none;
}

div{
  position: relative;
}
#searcharea{
  margin-top: 5%;
margin-bottom: 10%;
width: 100%;

}
h1{
float: left;
font-family: "amiko",sans-serif;
font-weight: 700;
}

#button{
  margin-top: 2%;
  background-color: #fff;
  border:2px solid rgba(0, 0, 0, 0.5);;
border-radius: 3px;
float: left;


}
ul{

  width: 100%;
}

#nightmode{
  background-color: #646590;
  height: 25px;
  width: 25px;
opacity: .6;
  display: inline-block;
}
#type{
  background-color: transparent;;
  color: #646590;
  font-size: 1em;

}
li{
position: relative;
  display: block;
  background-color: #333;
  color: white;
  margin: 10px 0;
  padding: 10px;
  width: 100%;

font-family: "lato",sans-serif;
font-weight: 300;
}
section{

padding: 0px;
  overflow-y: scroll;
  height: 500px;
word-wrap: break-word;
margin: 0;


}

@media screen and (min-width:300px) and (max-width:800px) {

  #search{

  height: 5em;
  font-size: 1.3em;

  }

  li{
width: 100%;
  height:5em;
  margin-left: 30px;
  }
  section{
    height:33em;
  }
}
#notecontainer{width: 100%;}::-webkit-scrollbar {
    display: none;
}

#delete{
background-color: #b85342;
height: 5em;
border: none;
color: #fff;
font-family: 'amiko',sans-serif;
float: left;
position: absolute;
display: none;
font-size: 1em;

}
.notecontainer{
  width: 100%;
}
.note{
  width: 100%;
}
