@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';
body{


  width: 100%;
}
.hidelabel{
  display: none;
}
div{
  position: relative;
}
#searcharea{
  margin-top: 5%;
margin-bottom: 10%;
height: 30px;

}
h1{

font-family: "lato",sans-serif;
font-weight: 700;
}

#button{
  margin-top: 2%;
  background-color: #fff;
  border:2px solid rgba(0, 0, 0, 0.5);;
border-radius: 3px;
float: left;


}

#button:hover{
  background-color: #333;
  color: white;
  border: 2px solid #333;
  float: left;

}
span{
  background-color: green;
  height: 25px;
  width: 25px;
opacity: .6;
  display: none;
}
#error{
  background-color: transparent;;
  color: red;
display: block;
}
li{
position: relative;
  display: block;
  background-color: #333;
  color: white;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
word-wrap: break-word;
font-family: "lato",sans-serif;
font-weight: 300;
}
section{
  position: relative;
  height: 500px;
  overflow-y: scroll;

}
.line-through{

text-decoration: line-through;

}
